<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>helloPage</title>
</head>
<body>
    <h1>Hello there <%= firstName %>!</h1>
    <% if(userLoggedIn === true) { %>
        <p>Hey looks like you are logged in!</p>
    <% } %>
</body>
</html>