<h1>Information about <%="#{@book.title}"%></h1>
<ul>
    <li>Genre: <%="#{@book.genre}"%></li>
    <li>Price: $<%="#{@book.price}"%></li>
    <li>Page Count: <%="#{@book.page_count}"%> pages</li>
</ul>
