* {
    /* IF an element has border and padding, it will take that into account when we specify height and width */
    box-sizing: border-box;
}

.mainContainer {
    display: flex;
    background-color: #9F9FED;
    width: 100vw;
}

.sectionContainer {
    width: 50%;
}

ul {
    list-style-type: none;
}

img {
    width: 300px;
    
    /* object-fit: contain; */
}
.groceryList {
    background-color: #D4C1EC;
    width: 100%;
}
.groceryList > li{
    border: 2px solid black;
    padding: 20px;
    margin: 50px;
    background-color: #F2DFD7;
}

/* Media query for mobile devices */

@media only screen and (max-width: 500px) {
    .groceryList {
        background-color: #581031;
    }
    .mainContainer {
        flex-direction: column;
    }
    main h1 {
        font-size: 10vw;
    }
    main h3 {
        font-size: 5vw;
    }
    img {
        width: 30vw;
    }
    .groceryList > li {
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sectionContainer {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Media query for tablets devices */
/* Specific range - 501px - 750px */
@media only screen and (min-width:501px) and (max-width: 850px) {
    img {
        width: 20vw;
    }
}